:root {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
a {
  text-decoration:none;
  color: inherit;
}

.headerNav {
  background-color: blue;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  font-family: serif;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
.navButton {
  margin-right: 1px;
  margin-left: 1px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
.navTrue {
  color: blue;
}
footer {
  background-color: blue;
  display: flex;
  justify-content: center;
}
.toe {
  max-height: 50px;
  min-height: 50px;
  margin-top: 3px;
  margin-bottom: 1px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-right: 1px;
  margin-left: 1px;
}

.profile {
  max-height: 300px;
  min-height: 300px;
  margin-top: 3px;
  margin-bottom: 1px;
}

.aboutMe {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}